/.classpath
/.project
/.settings
/target
/mk-basic-biz/.settings
/mk-basic-core/.settings
/mk-basic-core/.classpath
/mk-basic-core/.project
/mk-basic-biz/.classpath
/mk-basic-biz/.project
/mk-basic-face/.classpath
/mk-basic-face/.settings
/mk-basic-face/.project
/mk-basic-web/.classpath
/mk-basic-web/.settings
/mk-basic-web/.project
.metadata/.lock
.metadata/.log
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/11/804c4bc638a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/2/f091d8c938a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/2b/8044e1c938a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/2c/c08ddac938a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/31/b04c85ca38a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/33/50739cc938a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/34/a08067c938a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/35/307c49ca38a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/37/808841c638a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/3e/304217cd38a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/44/207c81ca38a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/58/300fedca38a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/5d/c03a44cc38a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/6a/e0c549c638a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/6e/706d15cd38a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/6f/b0313fcc38a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/7/906f87ca38a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/71/b0450ccd38a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/72/402637cd38a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/76/c00283ca38a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/7b/a00ee5cc38a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/84/f0e4dfc938a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/92/e0619bc938a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/95/102b76cd38a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/9d/40214dc638a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/a1/008963c938a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/a4/20408bca38a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/a6/70e845cc38a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/aa/d0fd24cd38a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/b8/907762c938a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/bd/60915fc938a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/be/e0148dca38a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/c5/30d3f6ca38a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/c9/2096d6c938a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/d8/10c847cd38a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/e/a0369dc938a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/e3/80b989ca38a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/ef/c0a298c938a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/f/80f743cd38a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.history/fe/30bc56cd38a200151cd18724f20613cf
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/mk-basic-biz/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/mk-basic-biz/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/mk-basic-biz/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/mk-basic-biz/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/mk-basic-biz/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/mk-basic-biz/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/mk-basic-core/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/mk-basic-core/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/mk-basic-core/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/mk-basic-core/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/mk-basic-core/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/mk-basic-face/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/mk-basic-face/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/mk-basic-face/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/mk-basic-face/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/mk-basic-face/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/mk-basic-web/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/mk-basic-web/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/mk-basic-web/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/mk-basic-web/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/mk-basic-web/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/mk-basic-web/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.validation.prefs
.metadata/.plugins/org.eclipse.jdt.core/3057475931.index
.metadata/.plugins/org.eclipse.jdt.core/3634667379.index
.metadata/.plugins/org.eclipse.jdt.core/4288519272.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.m2e.core/mk-basic-biz.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/mk-basic-core.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/mk-basic-face.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/mk-basic-web.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_2.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_3.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_4.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_5.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_6.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_7.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_8.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_a.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_b
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/a0757d2e68d94072de3108f5feb2637d/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/a0757d2e68d94072de3108f5feb2637d/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/a0757d2e68d94072de3108f5feb2637d/_2.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/a0757d2e68d94072de3108f5feb2637d/_3.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/a0757d2e68d94072de3108f5feb2637d/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/a0757d2e68d94072de3108f5feb2637d/segments_5
.metadata/.plugins/org.eclipse.m2e.core/nexus/a0757d2e68d94072de3108f5feb2637d/write.lock
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.jdt/mk-basic-biz.container
.metadata/.plugins/org.eclipse.m2e.jdt/mk-basic-core.container
.metadata/.plugins/org.eclipse.m2e.jdt/mk-basic-face.container
.metadata/.plugins/org.eclipse.m2e.jdt/mk-basic-web.container
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.1.20150109-1820.xml
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.tankai-pc_3/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.tankai-pc_3/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.tankai-pc_3/node.properties
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/.plugins/org.eclipse.team.cvs.core/.running
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1521035945.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2363093689.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/4181270201.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/645103104.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/732368226.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/787646907.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/version.ini
RemoteSystemsTempFiles/.project
.metadata/.plugins/org.eclipse.jst.j2ee.web/webLibrariesCache.index
.metadata/.plugins/org.eclipse.jst.j2ee/earLibrariesCache.index
.metadata/.plugins/org.eclipse.wst.common.modulecore/dependencyCache.index
basic-biz/.classpath
basic-biz/.project
basic-biz/.settings/org.eclipse.core.resources.prefs
basic-biz/.settings/org.eclipse.jdt.core.prefs
basic-biz/.settings/org.eclipse.m2e.core.prefs
basic-biz/.settings/org.eclipse.wst.common.component
basic-biz/.settings/org.eclipse.wst.common.project.facet.core.xml
basic-biz/.settings/org.eclipse.wst.validation.prefs
basic-core/.classpath
basic-core/.project
basic-core/.settings/org.eclipse.core.resources.prefs
basic-core/.settings/org.eclipse.jdt.core.prefs
basic-core/.settings/org.eclipse.m2e.core.prefs
basic-core/.settings/org.eclipse.wst.common.component
basic-core/.settings/org.eclipse.wst.common.project.facet.core.xml
basic-core/.settings/org.eclipse.wst.validation.prefs
basic-face/.classpath
basic-face/.project
basic-face/.settings/org.eclipse.core.resources.prefs
basic-face/.settings/org.eclipse.jdt.core.prefs
basic-face/.settings/org.eclipse.m2e.core.prefs
basic-face/.settings/org.eclipse.wst.common.component
basic-face/.settings/org.eclipse.wst.common.project.facet.core.xml
basic-face/.settings/org.eclipse.wst.validation.prefs
basic-web/.classpath
basic-web/.project
basic-web/.settings/.jsdtscope
basic-web/.settings/org.eclipse.core.resources.prefs
basic-web/.settings/org.eclipse.jdt.core.prefs
basic-web/.settings/org.eclipse.m2e.core.prefs
basic-web/.settings/org.eclipse.wst.common.component
basic-web/.settings/org.eclipse.wst.common.project.facet.core.xml
basic-web/.settings/org.eclipse.wst.jsdt.ui.superType.container
basic-web/.settings/org.eclipse.wst.jsdt.ui.superType.name
basic-web/.settings/org.eclipse.wst.validation.prefs
basic-biz/.settings/org.sonar.ide.eclipse.core.prefs
basic-core/.settings/org.sonar.ide.eclipse.core.prefs
basic-face/.settings/org.sonar.ide.eclipse.core.prefs
basic-web/.settings/org.sonar.ide.eclipse.core.prefs
