<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duantuke.basic.mappers.JourneyRankMapper" >
  <resultMap id="BaseResultMap" type="com.duantuke.basic.po.JourneyRank" >
    <id column="journey_rank_id" property="journeyRankId" jdbcType="BIGINT" />
    <result column="journey_id" property="journeyId" jdbcType="BIGINT" />
    <result column="rank" property="rank" jdbcType="INTEGER" />
    <result column="follow" property="follow" jdbcType="INTEGER" />
    <result column="roomnight" property="roomnight" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="INTEGER" />
    <result column="travel" property="travel" jdbcType="INTEGER" />
    <result column="view" property="view" jdbcType="INTEGER" />
    <result column="journey_like" property="journeyLike" jdbcType="INTEGER" />
    <result column="share" property="share" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createuser" property="createuser" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="updateuser" property="updateuser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    journey_rank_id, journey_id, rank, follow, roomnight, comment, travel, view, journey_like, 
    share, createtime, createuser, updatetime, updateuser
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.duantuke.basic.po.JourneyRankExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from journey_rank
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0" >
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from journey_rank
    where journey_rank_id = #{journeyRankId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from journey_rank
    where journey_rank_id = #{journeyRankId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.duantuke.basic.po.JourneyRankExample" >
    delete from journey_rank
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.duantuke.basic.po.JourneyRank" >
    insert into journey_rank (journey_rank_id, journey_id, rank, 
      follow, roomnight, comment, 
      travel, view, journey_like, 
      share, createtime, createuser, 
      updatetime, updateuser)
    values (#{journeyRankId,jdbcType=BIGINT}, #{journeyId,jdbcType=BIGINT}, #{rank,jdbcType=INTEGER}, 
      #{follow,jdbcType=INTEGER}, #{roomnight,jdbcType=INTEGER}, #{comment,jdbcType=INTEGER}, 
      #{travel,jdbcType=INTEGER}, #{view,jdbcType=INTEGER}, #{journeyLike,jdbcType=INTEGER}, 
      #{share,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{createuser,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{updateuser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.duantuke.basic.po.JourneyRank" >
    insert into journey_rank
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="journeyRankId != null" >
        journey_rank_id,
      </if>
      <if test="journeyId != null" >
        journey_id,
      </if>
      <if test="rank != null" >
        rank,
      </if>
      <if test="follow != null" >
        follow,
      </if>
      <if test="roomnight != null" >
        roomnight,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="travel != null" >
        travel,
      </if>
      <if test="view != null" >
        view,
      </if>
      <if test="journeyLike != null" >
        journey_like,
      </if>
      <if test="share != null" >
        share,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createuser != null" >
        createuser,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="updateuser != null" >
        updateuser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="journeyRankId != null" >
        #{journeyRankId,jdbcType=BIGINT},
      </if>
      <if test="journeyId != null" >
        #{journeyId,jdbcType=BIGINT},
      </if>
      <if test="rank != null" >
        #{rank,jdbcType=INTEGER},
      </if>
      <if test="follow != null" >
        #{follow,jdbcType=INTEGER},
      </if>
      <if test="roomnight != null" >
        #{roomnight,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=INTEGER},
      </if>
      <if test="travel != null" >
        #{travel,jdbcType=INTEGER},
      </if>
      <if test="view != null" >
        #{view,jdbcType=INTEGER},
      </if>
      <if test="journeyLike != null" >
        #{journeyLike,jdbcType=INTEGER},
      </if>
      <if test="share != null" >
        #{share,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.duantuke.basic.po.JourneyRankExample" resultType="java.lang.Integer" >
    select count(*) from journey_rank
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update journey_rank
    <set >
      <if test="record.journeyRankId != null" >
        journey_rank_id = #{record.journeyRankId,jdbcType=BIGINT},
      </if>
      <if test="record.journeyId != null" >
        journey_id = #{record.journeyId,jdbcType=BIGINT},
      </if>
      <if test="record.rank != null" >
        rank = #{record.rank,jdbcType=INTEGER},
      </if>
      <if test="record.follow != null" >
        follow = #{record.follow,jdbcType=INTEGER},
      </if>
      <if test="record.roomnight != null" >
        roomnight = #{record.roomnight,jdbcType=INTEGER},
      </if>
      <if test="record.comment != null" >
        comment = #{record.comment,jdbcType=INTEGER},
      </if>
      <if test="record.travel != null" >
        travel = #{record.travel,jdbcType=INTEGER},
      </if>
      <if test="record.view != null" >
        view = #{record.view,jdbcType=INTEGER},
      </if>
      <if test="record.journeyLike != null" >
        journey_like = #{record.journeyLike,jdbcType=INTEGER},
      </if>
      <if test="record.share != null" >
        share = #{record.share,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createuser != null" >
        createuser = #{record.createuser,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateuser != null" >
        updateuser = #{record.updateuser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update journey_rank
    set journey_rank_id = #{record.journeyRankId,jdbcType=BIGINT},
      journey_id = #{record.journeyId,jdbcType=BIGINT},
      rank = #{record.rank,jdbcType=INTEGER},
      follow = #{record.follow,jdbcType=INTEGER},
      roomnight = #{record.roomnight,jdbcType=INTEGER},
      comment = #{record.comment,jdbcType=INTEGER},
      travel = #{record.travel,jdbcType=INTEGER},
      view = #{record.view,jdbcType=INTEGER},
      journey_like = #{record.journeyLike,jdbcType=INTEGER},
      share = #{record.share,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      createuser = #{record.createuser,jdbcType=VARCHAR},
      updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      updateuser = #{record.updateuser,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.duantuke.basic.po.JourneyRank" >
    update journey_rank
    <set >
      <if test="journeyId != null" >
        journey_id = #{journeyId,jdbcType=BIGINT},
      </if>
      <if test="rank != null" >
        rank = #{rank,jdbcType=INTEGER},
      </if>
      <if test="follow != null" >
        follow = #{follow,jdbcType=INTEGER},
      </if>
      <if test="roomnight != null" >
        roomnight = #{roomnight,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=INTEGER},
      </if>
      <if test="travel != null" >
        travel = #{travel,jdbcType=INTEGER},
      </if>
      <if test="view != null" >
        view = #{view,jdbcType=INTEGER},
      </if>
      <if test="journeyLike != null" >
        journey_like = #{journeyLike,jdbcType=INTEGER},
      </if>
      <if test="share != null" >
        share = #{share,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null" >
        createuser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        updateuser = #{updateuser,jdbcType=VARCHAR},
      </if>
    </set>
    where journey_rank_id = #{journeyRankId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duantuke.basic.po.JourneyRank" >
    update journey_rank
    set journey_id = #{journeyId,jdbcType=BIGINT},
      rank = #{rank,jdbcType=INTEGER},
      follow = #{follow,jdbcType=INTEGER},
      roomnight = #{roomnight,jdbcType=INTEGER},
      comment = #{comment,jdbcType=INTEGER},
      travel = #{travel,jdbcType=INTEGER},
      view = #{view,jdbcType=INTEGER},
      journey_like = #{journeyLike,jdbcType=INTEGER},
      share = #{share,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      createuser = #{createuser,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      updateuser = #{updateuser,jdbcType=VARCHAR}
    where journey_rank_id = #{journeyRankId,jdbcType=BIGINT}
  </update>
</mapper>