<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duantuke.basic.mappers.RecommendItemMapper" >
  <resultMap id="BaseResultMap" type="com.duantuke.basic.po.RecommendItem" >
    <id column="recommend_item_id" property="recommendItemId" jdbcType="BIGINT" />
    <result column="recommend_detail_id" property="recommendDetailId" jdbcType="BIGINT" />
    <result column="position_id" property="positionId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="sub_title" property="subTitle" jdbcType="VARCHAR" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="link" property="link" jdbcType="VARCHAR" />
    <result column="view_type" property="viewType" jdbcType="INTEGER" />
    <result column="recommend_sort" property="recommendSort" jdbcType="INTEGER" />
    <result column="isvisible" property="isvisible" jdbcType="CHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="province_code" property="provinceCode" jdbcType="INTEGER" />
    <result column="city_code" property="cityCode" jdbcType="INTEGER" />
    <result column="district_code" property="districtCode" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createuser" property="createuser" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="updateuser" property="updateuser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    recommend_item_id, recommend_detail_id, position_id, title, sub_title, image_url, 
    link, view_type, recommend_sort, isvisible, state, start_time, end_time, description, 
    province_code, city_code, district_code, createtime, createuser, updatetime, updateuser
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.duantuke.basic.po.RecommendItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from recommend_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0" >
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from recommend_item
    where recommend_item_id = #{recommendItemId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from recommend_item
    where recommend_item_id = #{recommendItemId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.duantuke.basic.po.RecommendItemExample" >
    delete from recommend_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.duantuke.basic.po.RecommendItem" >
    insert into recommend_item (recommend_item_id, recommend_detail_id, 
      position_id, title, sub_title, 
      image_url, link, view_type, 
      recommend_sort, isvisible, state, 
      start_time, end_time, description, 
      province_code, city_code, district_code, 
      createtime, createuser, updatetime, 
      updateuser)
    values (#{recommendItemId,jdbcType=BIGINT}, #{recommendDetailId,jdbcType=BIGINT}, 
      #{positionId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{subTitle,jdbcType=VARCHAR}, 
      #{imageUrl,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR}, #{viewType,jdbcType=INTEGER}, 
      #{recommendSort,jdbcType=INTEGER}, #{isvisible,jdbcType=CHAR}, #{state,jdbcType=INTEGER}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR}, 
      #{provinceCode,jdbcType=INTEGER}, #{cityCode,jdbcType=INTEGER}, #{districtCode,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createuser,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{updateuser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.duantuke.basic.po.RecommendItem" >
    insert into recommend_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recommendItemId != null" >
        recommend_item_id,
      </if>
      <if test="recommendDetailId != null" >
        recommend_detail_id,
      </if>
      <if test="positionId != null" >
        position_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="subTitle != null" >
        sub_title,
      </if>
      <if test="imageUrl != null" >
        image_url,
      </if>
      <if test="link != null" >
        link,
      </if>
      <if test="viewType != null" >
        view_type,
      </if>
      <if test="recommendSort != null" >
        recommend_sort,
      </if>
      <if test="isvisible != null" >
        isvisible,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="provinceCode != null" >
        province_code,
      </if>
      <if test="cityCode != null" >
        city_code,
      </if>
      <if test="districtCode != null" >
        district_code,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createuser != null" >
        createuser,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="updateuser != null" >
        updateuser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recommendItemId != null" >
        #{recommendItemId,jdbcType=BIGINT},
      </if>
      <if test="recommendDetailId != null" >
        #{recommendDetailId,jdbcType=BIGINT},
      </if>
      <if test="positionId != null" >
        #{positionId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="subTitle != null" >
        #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="viewType != null" >
        #{viewType,jdbcType=INTEGER},
      </if>
      <if test="recommendSort != null" >
        #{recommendSort,jdbcType=INTEGER},
      </if>
      <if test="isvisible != null" >
        #{isvisible,jdbcType=CHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        #{provinceCode,jdbcType=INTEGER},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=INTEGER},
      </if>
      <if test="districtCode != null" >
        #{districtCode,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.duantuke.basic.po.RecommendItemExample" resultType="java.lang.Integer" >
    select count(*) from recommend_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update recommend_item
    <set >
      <if test="record.recommendItemId != null" >
        recommend_item_id = #{record.recommendItemId,jdbcType=BIGINT},
      </if>
      <if test="record.recommendDetailId != null" >
        recommend_detail_id = #{record.recommendDetailId,jdbcType=BIGINT},
      </if>
      <if test="record.positionId != null" >
        position_id = #{record.positionId,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.subTitle != null" >
        sub_title = #{record.subTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.imageUrl != null" >
        image_url = #{record.imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.link != null" >
        link = #{record.link,jdbcType=VARCHAR},
      </if>
      <if test="record.viewType != null" >
        view_type = #{record.viewType,jdbcType=INTEGER},
      </if>
      <if test="record.recommendSort != null" >
        recommend_sort = #{record.recommendSort,jdbcType=INTEGER},
      </if>
      <if test="record.isvisible != null" >
        isvisible = #{record.isvisible,jdbcType=CHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.provinceCode != null" >
        province_code = #{record.provinceCode,jdbcType=INTEGER},
      </if>
      <if test="record.cityCode != null" >
        city_code = #{record.cityCode,jdbcType=INTEGER},
      </if>
      <if test="record.districtCode != null" >
        district_code = #{record.districtCode,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createuser != null" >
        createuser = #{record.createuser,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateuser != null" >
        updateuser = #{record.updateuser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update recommend_item
    set recommend_item_id = #{record.recommendItemId,jdbcType=BIGINT},
      recommend_detail_id = #{record.recommendDetailId,jdbcType=BIGINT},
      position_id = #{record.positionId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      sub_title = #{record.subTitle,jdbcType=VARCHAR},
      image_url = #{record.imageUrl,jdbcType=VARCHAR},
      link = #{record.link,jdbcType=VARCHAR},
      view_type = #{record.viewType,jdbcType=INTEGER},
      recommend_sort = #{record.recommendSort,jdbcType=INTEGER},
      isvisible = #{record.isvisible,jdbcType=CHAR},
      state = #{record.state,jdbcType=INTEGER},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      description = #{record.description,jdbcType=VARCHAR},
      province_code = #{record.provinceCode,jdbcType=INTEGER},
      city_code = #{record.cityCode,jdbcType=INTEGER},
      district_code = #{record.districtCode,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      createuser = #{record.createuser,jdbcType=VARCHAR},
      updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      updateuser = #{record.updateuser,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.duantuke.basic.po.RecommendItem" >
    update recommend_item
    <set >
      <if test="recommendDetailId != null" >
        recommend_detail_id = #{recommendDetailId,jdbcType=BIGINT},
      </if>
      <if test="positionId != null" >
        position_id = #{positionId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="subTitle != null" >
        sub_title = #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="viewType != null" >
        view_type = #{viewType,jdbcType=INTEGER},
      </if>
      <if test="recommendSort != null" >
        recommend_sort = #{recommendSort,jdbcType=INTEGER},
      </if>
      <if test="isvisible != null" >
        isvisible = #{isvisible,jdbcType=CHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        province_code = #{provinceCode,jdbcType=INTEGER},
      </if>
      <if test="cityCode != null" >
        city_code = #{cityCode,jdbcType=INTEGER},
      </if>
      <if test="districtCode != null" >
        district_code = #{districtCode,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null" >
        createuser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        updateuser = #{updateuser,jdbcType=VARCHAR},
      </if>
    </set>
    where recommend_item_id = #{recommendItemId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duantuke.basic.po.RecommendItem" >
    update recommend_item
    set recommend_detail_id = #{recommendDetailId,jdbcType=BIGINT},
      position_id = #{positionId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      sub_title = #{subTitle,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      view_type = #{viewType,jdbcType=INTEGER},
      recommend_sort = #{recommendSort,jdbcType=INTEGER},
      isvisible = #{isvisible,jdbcType=CHAR},
      state = #{state,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=INTEGER},
      city_code = #{cityCode,jdbcType=INTEGER},
      district_code = #{districtCode,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      createuser = #{createuser,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      updateuser = #{updateuser,jdbcType=VARCHAR}
    where recommend_item_id = #{recommendItemId,jdbcType=BIGINT}
  </update>
</mapper>