<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangbaba.basic.mappers.RoomtypeModelMapper" >
  <resultMap id="BaseResultMap" type="com.fangbaba.basic.face.bean.RoomtypeModel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="hotelid" property="hotelid" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="roomtypepms" property="roomtypepms" jdbcType="VARCHAR" />
    <result column="roomnum" property="roomnum" jdbcType="INTEGER" />
    <result column="cost" property="cost" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, hotelid, name, roomtypepms, roomnum, cost
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fangbaba.basic.po.RoomtypeModelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from roomtype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from roomtype
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from roomtype
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fangbaba.basic.po.RoomtypeModelExample" >
    delete from roomtype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fangbaba.basic.face.bean.RoomtypeModel" >
    insert into roomtype (id, hotelid, name, 
      roomtypepms, roomnum, cost
      )
    values (#{id,jdbcType=BIGINT}, #{hotelid,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{roomtypepms,jdbcType=VARCHAR}, #{roomnum,jdbcType=INTEGER}, #{cost,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fangbaba.basic.face.bean.RoomtypeModel" >
    insert into roomtype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hotelid != null" >
        hotelid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="roomtypepms != null" >
        roomtypepms,
      </if>
      <if test="roomnum != null" >
        roomnum,
      </if>
      <if test="cost != null" >
        cost,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="hotelid != null" >
        #{hotelid,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="roomtypepms != null" >
        #{roomtypepms,jdbcType=VARCHAR},
      </if>
      <if test="roomnum != null" >
        #{roomnum,jdbcType=INTEGER},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fangbaba.basic.po.RoomtypeModelExample" resultType="java.lang.Integer" >
    select count(*) from roomtype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update roomtype
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.hotelid != null" >
        hotelid = #{record.hotelid,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.roomtypepms != null" >
        roomtypepms = #{record.roomtypepms,jdbcType=VARCHAR},
      </if>
      <if test="record.roomnum != null" >
        roomnum = #{record.roomnum,jdbcType=INTEGER},
      </if>
      <if test="record.cost != null" >
        cost = #{record.cost,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update roomtype
    set id = #{record.id,jdbcType=BIGINT},
      hotelid = #{record.hotelid,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      roomtypepms = #{record.roomtypepms,jdbcType=VARCHAR},
      roomnum = #{record.roomnum,jdbcType=INTEGER},
      cost = #{record.cost,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangbaba.basic.face.bean.RoomtypeModel" >
    update roomtype
    <set >
      <if test="hotelid != null" >
        hotelid = #{hotelid,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="roomtypepms != null" >
        roomtypepms = #{roomtypepms,jdbcType=VARCHAR},
      </if>
      <if test="roomnum != null" >
        roomnum = #{roomnum,jdbcType=INTEGER},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangbaba.basic.face.bean.RoomtypeModel" >
    update roomtype
    set hotelid = #{hotelid,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      roomtypepms = #{roomtypepms,jdbcType=VARCHAR},
      roomnum = #{roomnum,jdbcType=INTEGER},
      cost = #{cost,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>