<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duantuke.basic.mappers.SightMapper" >
  <resultMap id="BaseResultMap" type="com.duantuke.basic.po.Sight" >
    <id column="sight_id" property="sightId" jdbcType="BIGINT" />
    <result column="sight_name" property="sightName" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="DECIMAL" />
    <result column="latitude" property="latitude" jdbcType="DECIMAL" />
    <result column="open_time" property="openTime" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="traffic" property="traffic" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="pics" property="pics" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="provcode" property="provcode" jdbcType="INTEGER" />
    <result column="citycode" property="citycode" jdbcType="INTEGER" />
    <result column="discode" property="discode" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createuser" property="createuser" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="updateuser" property="updateuser" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.duantuke.basic.esbean.input.SightInputBean" >
    <id column="sight_id" property="sightId" jdbcType="BIGINT" />
    <result column="sight_name" property="sightName" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="DECIMAL" />
    <result column="latitude" property="latitude" jdbcType="DECIMAL" />
    <result column="open_time" property="openTime" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="traffic" property="traffic" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="pics" property="pics" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="provcode" property="provcode" jdbcType="INTEGER" />
    <result column="citycode" property="citycode" jdbcType="INTEGER" />
    <result column="discode" property="discode" jdbcType="INTEGER" />
    <result column="sight_rank_id" property="sightRankId" jdbcType="BIGINT" />
    <result column="rank" property="rank" jdbcType="INTEGER" />
    <result column="follow" property="follow" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="INTEGER" />
    <result column="travel" property="travel" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sight_id, sight_name, longitude, latitude, open_time, phone, traffic, price, pics, 
    memo, provcode, citycode, discode, createtime, createuser, updatetime, updateuser
  </sql>
  <sql id="Join_Column_List" >
    s.sight_id, s.sight_name, s.longitude, s.latitude, s.open_time, s.phone, s.traffic, s.price, s.pics, 
    s.memo, s.provcode, s.citycode, s.discode, s.createtime, s.createuser, s.updatetime, s.updateuser
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.duantuke.basic.po.SightExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sight
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0" >
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sight
    where sight_id = #{sightId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sight
    where sight_id = #{sightId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.duantuke.basic.po.SightExample" >
    delete from sight
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.duantuke.basic.po.Sight" >
    insert into sight (sight_id, sight_name, longitude, 
      latitude, open_time, phone, 
      traffic, price, pics, 
      memo, provcode, citycode, 
      discode, createtime, createuser, 
      updatetime, updateuser)
    values (#{sightId,jdbcType=BIGINT}, #{sightName,jdbcType=VARCHAR}, #{longitude,jdbcType=DECIMAL}, 
      #{latitude,jdbcType=DECIMAL}, #{openTime,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{traffic,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, #{pics,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{provcode,jdbcType=INTEGER}, #{citycode,jdbcType=INTEGER}, 
      #{discode,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{createuser,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{updateuser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.duantuke.basic.po.Sight" >
    insert into sight
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sightId != null" >
        sight_id,
      </if>
      <if test="sightName != null" >
        sight_name,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="openTime != null" >
        open_time,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="traffic != null" >
        traffic,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="pics != null" >
        pics,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="provcode != null" >
        provcode,
      </if>
      <if test="citycode != null" >
        citycode,
      </if>
      <if test="discode != null" >
        discode,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createuser != null" >
        createuser,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="updateuser != null" >
        updateuser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sightId != null" >
        #{sightId,jdbcType=BIGINT},
      </if>
      <if test="sightName != null" >
        #{sightName,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="openTime != null" >
        #{openTime,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="traffic != null" >
        #{traffic,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="pics != null" >
        #{pics,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="provcode != null" >
        #{provcode,jdbcType=INTEGER},
      </if>
      <if test="citycode != null" >
        #{citycode,jdbcType=INTEGER},
      </if>
      <if test="discode != null" >
        #{discode,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.duantuke.basic.po.SightExample" resultType="java.lang.Integer" >
    select count(*) from sight
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sight
    <set >
      <if test="record.sightId != null" >
        sight_id = #{record.sightId,jdbcType=BIGINT},
      </if>
      <if test="record.sightName != null" >
        sight_name = #{record.sightName,jdbcType=VARCHAR},
      </if>
      <if test="record.longitude != null" >
        longitude = #{record.longitude,jdbcType=DECIMAL},
      </if>
      <if test="record.latitude != null" >
        latitude = #{record.latitude,jdbcType=DECIMAL},
      </if>
      <if test="record.openTime != null" >
        open_time = #{record.openTime,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.traffic != null" >
        traffic = #{record.traffic,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=VARCHAR},
      </if>
      <if test="record.pics != null" >
        pics = #{record.pics,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null" >
        memo = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.provcode != null" >
        provcode = #{record.provcode,jdbcType=INTEGER},
      </if>
      <if test="record.citycode != null" >
        citycode = #{record.citycode,jdbcType=INTEGER},
      </if>
      <if test="record.discode != null" >
        discode = #{record.discode,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createuser != null" >
        createuser = #{record.createuser,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateuser != null" >
        updateuser = #{record.updateuser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sight
    set sight_id = #{record.sightId,jdbcType=BIGINT},
      sight_name = #{record.sightName,jdbcType=VARCHAR},
      longitude = #{record.longitude,jdbcType=DECIMAL},
      latitude = #{record.latitude,jdbcType=DECIMAL},
      open_time = #{record.openTime,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      traffic = #{record.traffic,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=VARCHAR},
      pics = #{record.pics,jdbcType=VARCHAR},
      memo = #{record.memo,jdbcType=VARCHAR},
      provcode = #{record.provcode,jdbcType=INTEGER},
      citycode = #{record.citycode,jdbcType=INTEGER},
      discode = #{record.discode,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      createuser = #{record.createuser,jdbcType=VARCHAR},
      updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      updateuser = #{record.updateuser,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.duantuke.basic.po.Sight" >
    update sight
    <set >
      <if test="sightName != null" >
        sight_name = #{sightName,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="openTime != null" >
        open_time = #{openTime,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="traffic != null" >
        traffic = #{traffic,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="pics != null" >
        pics = #{pics,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="provcode != null" >
        provcode = #{provcode,jdbcType=INTEGER},
      </if>
      <if test="citycode != null" >
        citycode = #{citycode,jdbcType=INTEGER},
      </if>
      <if test="discode != null" >
        discode = #{discode,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null" >
        createuser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        updateuser = #{updateuser,jdbcType=VARCHAR},
      </if>
    </set>
    where sight_id = #{sightId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duantuke.basic.po.Sight" >
    update sight
    set sight_name = #{sightName,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=DECIMAL},
      latitude = #{latitude,jdbcType=DECIMAL},
      open_time = #{openTime,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      traffic = #{traffic,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      pics = #{pics,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      provcode = #{provcode,jdbcType=INTEGER},
      citycode = #{citycode,jdbcType=INTEGER},
      discode = #{discode,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      createuser = #{createuser,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      updateuser = #{updateuser,jdbcType=VARCHAR}
    where sight_id = #{sightId,jdbcType=BIGINT}
  </update>
  <select id="queryEsInputSights" resultMap="BaseResultMap1">
    SELECT 
    <include refid="Join_Column_List" />
    ,r.sight_rank_id,r.rank,r.follow,r.comment,r.travel
    from sight s,sight_rank r where s.sight_id = r.sight_id
    <if test="sightId != null" >
      and s.sight_id = #{sightId}
    </if>
  </select>
</mapper>