<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://code.alibabatech.com/schema/dubbo  
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">  
      
    <!-- 提供方应用信息，用于计算依赖关系 -->  
    <dubbo:application name="${dubbo.application.name}"  />
    <dubbo:monitor  protocol="registry"/>  
   
    <!-- 使用multicast广播注册中心暴露服务地址   
    <dubbo:registry address="multicast://224.5.6.7:1234" />-->  
    
    <!-- 使用zookeeper注册中心暴露服务地址 -->  
    <dubbo:registry address="${dubbo.registry.address}"/>   
    
    <!-- 用dubbo协议在20880端口暴露服务 -->  
    <dubbo:protocol name="dubbo" port="${dubbo.protocol.port}" />
    <!-- <dubbo:protocol name="dubbo" port="${dubbo.protocol.port}" host="192.168.0.106"/> -->
   
    <dubbo:service interface="com.duantuke.basic.face.service.CityService" ref="cityService"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" /> 
	<bean id="cityService" class="com.duantuke.basic.service.impl.CityServiceImpl" /> 
     
	<dubbo:service interface="com.duantuke.basic.face.service.ProvinceService" ref="provinceService"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />  
    <bean id="provinceService" class="com.duantuke.basic.service.impl.ProvinceServiceImpl" />
     
	<dubbo:service interface="com.duantuke.basic.face.service.DistrictService" ref="districtService"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="districtService" class="com.duantuke.basic.service.impl.DistrictServiceImpl" />
	
       
	<dubbo:service interface="com.duantuke.basic.face.service.CustomerService" ref="customerService"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="customerService" class="com.duantuke.basic.service.impl.CustomerServiceImpl" /> 
    
	<dubbo:service interface="com.duantuke.basic.face.service.BossService" ref="bossService"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="bossService" class="com.duantuke.basic.service.impl.BossServiceImpl" />
	
	<!-- 评论 -->
	<dubbo:service interface="com.duantuke.basic.face.service.DuantukeCommentService" ref="duantukeCommentService"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="duantukeCommentService" class="com.duantuke.basic.service.impl.DuantukeCommentServiceImpl" />
	
	<!-- 点赞 -->
	<dubbo:service interface="com.duantuke.basic.face.service.DuantukeLikeService" ref="duantukeLikeService"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="duantukeLikeService" class="com.duantuke.basic.service.impl.DuantukeLikeServiceImpl" />
	<!-- 用户token -->
	<dubbo:service interface="com.duantuke.basic.face.service.UserTokenService" ref="userTokenService"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="userTokenService" class="com.duantuke.basic.service.impl.UserTokenServiceImpl" />
     
    <!-- 游记 -->
	<dubbo:service interface="com.duantuke.basic.face.service.JourneyService" ref="journeyService"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="journeyService" class="com.duantuke.basic.service.impl.JourneyServiceImpl" />  
    
    <!-- 吃-->
	<dubbo:service interface="com.duantuke.basic.face.service.MealService" ref="mealService"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="mealService" class="com.duantuke.basic.service.impl.MealServiceImpl" />  
</beans>  