<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://code.alibabatech.com/schema/dubbo  
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">  
      
    <!-- 提供方应用信息，用于计算依赖关系 -->  
    <dubbo:application name="${dubbo.application.name}"  />
    <dubbo:monitor  protocol="registry"/>  
   
    <!-- 使用multicast广播注册中心暴露服务地址   
    <dubbo:registry address="multicast://224.5.6.7:1234" />-->  
    
    <!-- 使用zookeeper注册中心暴露服务地址 -->  
    <dubbo:registry address="${dubbo.registry.address}"/>   
    
    <!-- 用dubbo协议在20880端口暴露服务 -->  
    <dubbo:protocol name="dubbo" port="${dubbo.protocol.port}" />
    <!-- <dubbo:protocol name="dubbo" port="${dubbo.protocol.port}" host="192.168.0.106"/> -->
   
    <dubbo:service interface="com.duantuke.basic.face.service.CityService" ref="cityServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" /> 
	<bean id="cityServiceImpl" class="com.duantuke.basic.service.impl.CityServiceImpl" /> 
     
	<dubbo:service interface="com.duantuke.basic.face.service.ProvinceService" ref="provinceServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />  
    <bean id="provinceServiceImpl" class="com.duantuke.basic.service.impl.ProvinceServiceImpl" />
     
	<dubbo:service interface="com.duantuke.basic.face.service.DistrictService" ref="districtServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="districtServiceImpl" class="com.duantuke.basic.service.impl.DistrictServiceImpl" />
	
       
	<dubbo:service interface="com.duantuke.basic.face.service.CustomerService" ref="customerServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="customerServiceImpl" class="com.duantuke.basic.service.impl.CustomerServiceImpl" /> 
    
	<dubbo:service interface="com.duantuke.basic.face.service.BossService" ref="bossServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="bossServiceImpl" class="com.duantuke.basic.service.impl.BossServiceImpl" />
	
	<!-- 评论 -->
	<dubbo:service interface="com.duantuke.basic.face.service.DuantukeCommentService" ref="duantukeCommentServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="duantukeCommentServiceImpl" class="com.duantuke.basic.service.impl.DuantukeCommentServiceImpl" />
	
	<!-- 点赞 -->
	<dubbo:service interface="com.duantuke.basic.face.service.DuantukeLikeService" ref="duantukeLikeServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="duantukeLikeServiceImpl" class="com.duantuke.basic.service.impl.DuantukeLikeServiceImpl" />
	<!-- 用户token -->
	<dubbo:service interface="com.duantuke.basic.face.service.UserTokenService" ref="userTokenServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="userTokenServiceImpl" class="com.duantuke.basic.service.impl.UserTokenServiceImpl" />
     
    <!--Journey  -->
	<dubbo:service interface="com.duantuke.basic.face.service.JourneyService" ref="journeyServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="journeyServiceImpl" class="com.duantuke.basic.service.impl.JourneyServiceImpl" />
    
    <!--Sight  -->  
	<dubbo:service interface="com.duantuke.basic.face.service.SightService" ref="sightServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="sightServiceImpl" class="com.duantuke.basic.service.impl.SightServiceImpl" />      
    
    <!-- Meal-->
	<dubbo:service interface="com.duantuke.basic.face.service.MealService" ref="mealServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="mealServiceImpl" class="com.duantuke.basic.service.impl.MealServiceImpl" />  

    <!-- sku-->
	<dubbo:service interface="com.duantuke.basic.face.service.SkuService" ref="skuServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="skuServiceImpl" class="com.duantuke.basic.service.impl.SkuServiceImpl" />  
    
    <!-- price-->
	<dubbo:service interface="com.duantuke.basic.face.service.PriceService" ref="priceServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="priceServiceImpl" class="com.duantuke.basic.service.impl.PriceServiceImpl" />  
    <!-- price-->
	<dubbo:service interface="com.duantuke.basic.face.service.PushLogService" ref="pushLogServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="pushLogServiceImpl" class="com.duantuke.basic.service.impl.PushLogServiceImpl" />  
    
    <!-- elasticsearch begin -->
    <!-- hotel search -->
	<dubbo:service interface="com.duantuke.basic.face.service.HotelSearchService" ref="hotelSearchServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="hotelSearchServiceImpl" class="com.duantuke.basic.service.impl.HotelSearchServiceImpl" />  
    <!-- meal search -->
	<dubbo:service interface="com.duantuke.basic.face.service.MealSearchService" ref="mealSearchServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="mealSearchServiceImpl" class="com.duantuke.basic.service.impl.MealSearchServiceImpl" />  
    <!-- journey search -->
	<dubbo:service interface="com.duantuke.basic.face.service.JourneySearchService" ref="journeySearchServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="journeySearchServiceImpl" class="com.duantuke.basic.service.impl.JourneySearchServiceImpl" />  
    <!-- sight search -->
	<dubbo:service interface="com.duantuke.basic.face.service.SightSearchService" ref="sightSearchServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="sightSearchServiceImpl" class="com.duantuke.basic.service.impl.SightSearchServiceImpl" />  
    <!-- teamsku search -->
	<dubbo:service interface="com.duantuke.basic.face.service.TeamSkuSearchService" ref="teamSkuSearchServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="teamSkuSearchServiceImpl" class="com.duantuke.basic.service.impl.TeamSkuSearchServiceImpl" />  
    <!-- elasticsearch end -->
    
    
    <!-- hotel  -->
	<dubbo:service interface="com.duantuke.basic.face.service.HotelService" ref="hotelServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="hotelServiceImpl" class="com.duantuke.basic.service.impl.HotelServiceImpl" />  
    <!-- 热词 -->
	<dubbo:service interface="com.duantuke.basic.face.service.HotWordService" ref="hotWordServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="hotWordServiceImpl" class="com.duantuke.basic.service.impl.HotWordServiceImpl" />  
    <!-- 用户收藏 -->
	<dubbo:service interface="com.duantuke.basic.face.service.CustomerLikeService" ref="customerLikeServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="customerLikeServiceImpl" class="com.duantuke.basic.service.impl.CustomerLikeServiceImpl" />  
    <!-- 房型服务 -->
	<dubbo:service interface="com.duantuke.basic.face.service.RoomTypeService" ref="roomTypeServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="roomTypeServiceImpl" class="com.duantuke.basic.service.impl.RoomTypeServiceImpl" />  
    <!-- 推荐服务 -->
	<dubbo:service interface="com.duantuke.basic.face.service.RecommendService" ref="recommendServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="recommendServiceImpl" class="com.duantuke.basic.service.impl.RecommendServiceImpl" />  
    <!-- 销售服务 -->
	<dubbo:service interface="com.duantuke.basic.face.service.SaleService" ref="saleServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="saleServiceImpl" class="com.duantuke.basic.service.impl.SaleServiceImpl" />  
    <!-- 开关房服务 -->
	<dubbo:service interface="com.duantuke.basic.face.service.HotelOpenSettingService" ref="hotelOpenSettingServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="hotelOpenSettingServiceImpl" class="com.duantuke.basic.service.impl.HotelOpenSettingServiceImpl" />  
	<dubbo:service interface="com.duantuke.basic.face.service.HotelOpenSettingDetailService" ref="hotelOpenSettingDetailServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="hotelOpenSettingDetailServiceImpl" class="com.duantuke.basic.service.impl.HotelOpenSettingDetailServiceImpl" />  
    <!-- 团体sku -->
	<dubbo:service interface="com.duantuke.basic.face.service.TeamSkuService" ref="teamSkuServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="teamSkuServiceImpl" class="com.duantuke.basic.service.impl.TeamSkuServiceImpl" />  
    
     <!--私人订制-->
	<dubbo:service interface="com.duantuke.basic.face.service.PersonalTailorService" ref="personalTailorServiceImpl"  timeout="${dubbo.timeout}" group="${dubbo.basic.group}" version="1.0.0" />
    <bean id="personalTailorServiceImpl" class="com.duantuke.basic.service.impl.PersonalTailorServiceImpl" />  
    
</beans>  